<!doctype>
<html>
<head>
<title>{{title}}</title>
{%block meta%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="map,photo,flowto" />
{%endblock%}
{%block css%}
<link rel="stylesheet" href="css/leaflet1.0.2.css" />
<link rel="stylesheet" href="css/map.css" />
<link href="css/angular-material.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/leaflet.pm.css"></script>
<link rel="stylesheet" href="css/Leaflet.Photo.css"></script>
{%endblock%}
{%block js%}
		<script src="js/angular.min.js"></script><!--ver 1.3.16-->
		<script src="js/angular-route.js"></script>
		<script src="js/angular-resource.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<script src="js/angular-material.min.js"></script><!--ver 1.0.7-->
		<script src="js/lb-services.js"></script>
		<script src="js/flowtomodule.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/moment-2.17.1.min.js"></script>
		<script src="js/moment-2.17.1-th.js"></script>
<script src="js/leaflet1.0.2.js"></script>
<!--<script src="js/leaflet.pm.min.js"></script>-->
<script src="js/leaflet.markercluster1.0.0.js"></script>
<script src="js/Leaflet.Photo.js"></script>
<!--<script src="js/reqwest.min.js"></script>-->

{%endblock%}
</head>
<body {%block body_tag%}{%endblock%}>
<div flex layout="column" layout-fill style="overflow:hidden;" ng-view><!--start page-->

</div><!--end page-->
{%block js_end%}
<script src="js/map.js"></script>
{%verbatim%}
<script type="text/ng-template" id="mainmap.html">
 <md-toolbar class="md-primary">
      <div class="md-toolbar-tools" layout="row" layout-padding>
        <md-button ng-click="click_back();">
			<img src="images/ic_keyboard_backspace_white_48dp_2x.png" style="width:24px;height:24px;"/>
		</md-button><!--<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="images/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>--> 
		<div class="md-truncate"  flex>
		<md-menu>
			<span ng-click="$mdMenu.open()">{{assignmentName}}</span>
			<md-menu-content width="4">
				<md-menu-item >Hello</md-menu-item>
			</md-menu-content>
		</md-menu>
		</div>
		<!--
        <h2>
          <span>- {{assignmentName}}</span>
        </h2>-->
        <md-button class="md-icon-button" aria-label="More" ng-click="showListBottomSheet(thisFlowto.id)">
          <img src="images/more_vert_white_48x48.png" style="height:24;width:24;"/>
        </md-button>
      </div>
    </md-toolbar>

{%endverbatim%}
	<div flex>
		<div  id="example4" class="map"></div>
	</div>
</script>

<script type="text/ng-template" id="flowtopage.html">
{%verbatim%}
 <md-toolbar class="md-primary">
      <div class="md-toolbar-tools" layout="row" layout-padding>
        <md-button ng-click="click_back();">
			<img src="images/ic_keyboard_backspace_white_48dp_2x.png" style="width:24px;height:24px;"/>
		</md-button><!--<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="images/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>--> 
		<div style="overflow:hidden;text-overflow:ellipsis; " flex>
			flowto-id: {{params.flowtoId}}
		</div>
		<md-button ng-click="click_more_vert_btn()"><img src="images/more_vert_white_48x48.png" style="width:24px;height:24px;"/></md-button>
      </div>
</md-toolbar>
<div flex layout="column" layout-fill>
<div flex="50" 
style="
    background-image: url('{{thisFlowto.img_url}}');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
    background-attachment: fixed;
	background-color:#c4c4c4;
	overflow:scroll;
}" layout="column" layout-align="bottom right" layout-padding
><div flex></div><div layout="row" layout-align="right"><span flex></span>
<md-button ><a href="{{thisFlowto.img_url}}"><img src="images/ic_image_black_48dp_2x.png" style="width:32px;height:32px;"/></a></md-button></div>
</div>
<div flex="50" style="overflow:scroll;" layout="column" layout layout-align="top">
<div style="overflow-y:scroll;">
		<div layout="row" layout-align="left top" layout-padding >
			<span class="md-body-2">{{thisFlowto.flowtoUser}}</span> 
			<span class="md-body-1">{{thisFlowto.caption}}</span>
		</div>
		<div layout="row" layout-align="right center" layout-padding>
			<span flex></span>
			<span class="md-caption" style="color:#b7b3b3;"><strong>position:</strong>{{thisFlowto.lat}},{{thisFlowto.lng}} </span>
		</div>

		<div layout="row" layout-padding layout-align="right center">
			<span flex></span>
			<span class="md-caption" style="color:#b7b3b3;">{{thisFlowto.flowtodate_thai}} ({{thisFlowto.flowtodate}})</span>
		</div>
		<div layout="row" layout-align="right center" layout-padding>
			<span flex></span>
			<span class="md-body-1 md-accent">Assignment:</span> 
			<span class="md-body-1 md-accent" style="text-decoration:underline;">{{thisFlowto.assignmentName}}</span>
		</div>
</div><!--overflow-y-->
</div><!--flex=50-->
</div>
{%endverbatim%}
</script>

<script type="text/ng-template" id="copyFlowto.html">
{%verbatim%}
 <md-toolbar class="md-primary">
      <div class="md-toolbar-tools" layout="row" layout-padding>
        <md-button ng-click="click_back();">
			<img src="images/ic_keyboard_backspace_white_48dp_2x.png" style="width:24px;height:24px;"/>
		</md-button>
		<div md-truncate flex>
			copy Flowto
		</div>
      </div>
</md-toolbar>
{%endverbatim%}
</script>
<!--fowto_morevert.html-->
<script type="text/ng-template" id="fowto_morevert.html">
<md-bottom-sheet class="md-list md-has-header md-primary" style="z-index:1001;">
  <!--ใช้ z-index 701 เพราะ  ค่า default คือ 80 ไม่พอกับ map overlay-->
  <md-subheader ng-cloak md-primary><span class="md-warn"> action</span></md-subheader>
  <md-list ng-cloak>
    <md-list-item >
      <md-button class="md-accend"
          ng-click="flowtoMsg.inputTextArea('asdf','asdf',$event);copyFlowto();"
          md-autofocus="false"
          class="md-list-item-content md-accend md-raised" >
        <span class="md-inline-list-icon-label md-accend">Copy to Your Assignment</span>
      </md-button>
    </md-list-item>
    <md-list-item >
      <md-button class="md-warn"
          ng-click="removeFlowto();"
          md-autofocus="false"
          class="md-list-item-content md-warn md-raised" >
        <span class="md-inline-list-icon-label md-warn">Remove</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
</script>
{%endblock%}
</body>
</html>
