{%extends "_blank.html"%}
{%block js%}
{{super()}}
<script src="js/angular-file-upload.min.js"></script>
{%endblock%}
{%block body_tag%} ng-app="flowtong" ng-controller="creditCtrl" {%endblock%}
{%block content%}
<div layout="column" flex layout-fill>
{%verbatim%}
<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools" layout="row" layout-padding layout-fill layout-align="center center">
			<md-button ng-click="click_back();">back</md-button>
			<span flex layout="row" layout-padding layout-fill layout-align="center center"><span>Credit</span></span>
	</div>
</md-toolbar>
<md-content flex>
<md-subheader class="md-accent" layout="column">
<div layout="row" layout-align="center center">
	<h1>Flowto App</h1>
</div>
</md-subheader>
<div  layout="column" style="overflow:scroll;" >
	<div layout="row" layout-padding layout-align="left">
		<span flex="5"></span>
		<span >
			develop by : 
		</span>
		<span flex>
			<strong>Siratis team,Bird50</strong>
		</span>
	</div>
	<div layout="row" layout-padding layout-align="center">
		<span flex="5"></span>
		<span >
			Contact : 
		</span>
		<span flex>
			<strong>siratis.w@gmail.com</strong>
		</span>
	</div>
	<div layout="row" layout-padding layout-align="left">
		
	</div>
	<md-divider></md-divider>	
</div>
</md-content>

{%endverbatim%}
{%endblock%}

{%block js_end%}
{%verbatim%}

{%endverbatim%}
{%endblock%}

