{%extends "_blank.html"%}
{%block js%}
{{super()}}
<script src="js/angular-file-upload.min.js"></script>
{%endblock%}
{%block body_tag%} ng-app="flowtong" ng-controller="LoginCtrl" ng-cloak{%endblock%}
{%block content%}
<div layout="column" flex layout-fill>
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools"><img src="images/menu.png" alt="" /></span></div>
	</md-toolbar>
	<md-content>
	<section>
	<md-subheader class="md-accent">Archived messages</md-subheader>
	
	</section>
	</md-content>
</div>
{%endblock%}



