{%extends "_blank.html"%}
{%block js%}
{{super()}}
<script src="js/angular-file-upload.min.js"></script>
{%endblock%}
{%block body_tag%} ng-app="flowtong" ng-controller="LoginCtrl" ng-cloak{%endblock%}
{%block content%}
<div layout="column" flex layout-fill ng-view>

</div>

{%endblock%}

{%block js_end%}
{%verbatim%}
<script type="text/ng-template" id="dash.html">

<md-fab-speed-dial md-open="demo.isOpen" md-direction="up" class="md-fling md-fab-bottom-right" >
	<md-fab-trigger>
		<md-button aria-label="menu" class="md-fab md-warn ">
			<img style="height:24px;width:24px;" src="images/menu_l.png">
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
	<md-button class="md-accent md-fab"  ng-click="CreateAssignmentForm($event)" href="#"><img style="height:24px;width:24px;" aria-label="Create Assignment" src="images/ic_add_black_24dp_2x.png"></md-button>
	<md-button class="md-accent md-fab " aria-label="Take a Flowto" ng-click="null" href="#"><a href="preview.html"><img style="height:24px;width:24px;" src="images/ic_camera_alt_black_48dp.png"></a></md-button>
	</md-fab-actions>
</md-fab-speed-dial>
						 <!--
<md-button class="md-warn md-fab md-fab-top-right"  ng-click="null" href="#"><img style="height:24px;width:24px;" src="images/ic_add_black_24dp_2x.png"></md-button>
<md-button class="md-warn md-fab md-fab-bottom-right"  ng-click="null" href="#"><img style="height:24px;width:24px;" src="images/menu_l.png"></md-button>
-->

<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools" layout="row" layout-padding layout-fill layout-align="center center">
			<md-button ng-click="click_back();"><strong>FLOWTO</strong></md-button>
			<md-input-container flex class="md-icon-float" style="margin:20px 0px 0px 0px;">
				<!--<md-icon md-svg-src="images/ic_search_white_48px.svg"></md-icon>-->
				<label class="md-caption">Search</label>
				<input  class="md-caption" type="text" name="searchText" ng-model="searchText"  placeholder="Search"/>
			</md-input-container>
			<md-menu layout="row" flex="33" layout-fill md-position-mode="target-right target" >
			<div ng-click="$mdOpenMenu();" layout="row" layout-fill>
				<img src="{{u.avatar}}"  class="md-avatar" style="height:48px;width:48px;border-radius:50%;"/>
				<div class="md-truncate" class="md-caption">{{u.username}}</div>
			</div>
					<md-menu-content class="md-whiteframe-3dp">
						<md-menu-item layout="row" layout-fill layout-align="left center" layout-padding>
							<img src="{{u.avatar}}"  class="md-avatar" style="height:64px;width:64px;border-radius:50%;"/>
							<div class="md-body-1">{{u.username}}</div>
						</md-menu-item>
					</md-menu-content>
			</md-menu>
	</div>
</md-toolbar>


<md-content flex>

<section>

	<md-subheader class="md-accent" layout="column">
	<div layout="row" layout-wrap layout-fill layout-padding>
		<div class="md-primary"  layout="row" layout-padding>
			<span class="md-body-1">selected assignment:</span>
			<span class="md-body-2" >{{assignmentName}}</span>
		</div>
		<span flex></span>
	</div>
	</md-subheader>

	<md-list >
		<md-list-item class="md-2-line" ng-repeat="item in assignments|filter:searchText as filtered" >
		<md-divider></md-divider>
		<div layout="row" layout-wrap layout-fill layout-align="cente center" id="assignments_item_{{item.id}}"><!--cover-->
		<!--first-->
		<div flex-gt-xs="70" flex-xs="100"  layout="row" layout-align="left center" layout-fill>
			<div class="md-list-item-text" layout="column" flex layout-padding layout-align="center left">
				<h3> {{ item.assignmentName }}</h3>
				<p>{{item.id}}:{{ item.description }}</p>
			</div>
       </div>
	   <!--endfirst-->
	   <!--second-->
	<div  class="md-second" flex-gt-xs="30" flex-xs="100"  layout="row" layout-align="right center" layout-padding layout-fill>
			<div flex ></div>
			<div style="color:#b6b2b7;">by</div>
			<!--<div ng-if="item.flowtoUser.avatar.length>1" layout="column" layout-align="center center">
				<img src="{{item.flowtoUser.avatar}}"  style="width:32px;height32px;border-radius:50%;" />
			</div>-->
			<md-menu md-position-mode="target-right target">
				<span ng-click="$mdOpenMenu();"  style="max-width: 200px;" class="md-truncate link_a" >{{item.flowtoUser.username}}</span>
				<md-menu-content >
				<div layout="row" layout-padding layout-fill>
					<div ng-if="item.flowtoUser.avatar.length>1" layout="row" layout-align="center center">
						<img src="{{item.flowtoUser.avatar}}"  style="width:48px;height48px;border-radius:50%;"/> 
					</div>
					<span ng-click="viewUser(item.flowtoUser.id,item.id);">{{item.flowtoUser.username}}</span>
				</div>
				</md-menu-content>
			</md-menu>
			<md-button class="md-icon-button md-warn" aria-label="More"
			ng-click="showListBottomSheet(item.id,item.assignmentName);">
				<img src="images/more_vert_black_48x48.png" style="width:24px;height:24px;"/>
        	</md-button>
	</div><!--endsecond-->
		</div><!--cover-->
		<md-divider></md-divider>
		</md-list-item>
	</md-list>

	</section>
	</md-content>
	<div flex="5" class="md-accent" style="background-color:#f9f8f7;" layout="row" layout-align="right center" layout-padding><span>Total : {{filtered.length}}</span><span flex></span><small style="color:#abacad;">Flowto:bata version</small><span flex="20"></span></div>
</script>





<script type="text/ng-template" id="bottom-sheet-list-template.html">
<md-bottom-sheet class="md-list md-has-header md-primary">
  <md-subheader ng-cloak md-warn><span class="md-warn">Actions</span></md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in items">
      <md-button 
          ng-click="listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content md-accend md-raised" >
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label md-primary">{{ item.name }}</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>

</script>






<script type="text/ng-template" id="createAssignment.tmpl.html">
   
<div >
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>Create an Assignment</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div>
	   
      <div  layout="column">
		  <md-input-container class="md-block" flex-gt-sm>
            <label>Assignment</label>
            <input ng-model="new_assignment.assignmentName">
          </md-input-container>
		  <md-input-container class="md-block">
		  	<label>Description</label>
			<textarea ng-model="new_assignment.description" rows="5"></textarea>
		  </md-input-container>
		   <div layout="row" layout-align="center center">
		  <span flex="10">Important Rate</span>
		  <md-slider flex class="md-accent" ng-model="new_assignment.priority" step="1" min="1" max="5" aria-label="rating">
		  </div>
     </div>
    </div>

    <md-dialog-actions layout="row">
     
      <md-button ng-click="cancel()" class="md-warn">
        Cancel
      </md-button>
	   <span flex></span>
      <md-button ng-click="createAssignment()">
       Create
      </md-button>
      
    </md-dialog-actions>
  </form>
</div>
</script>
{%endverbatim%}
<script type="text/ng-template" id="userAccount.html">
{%include "_userAccount.inc"%}
</script>
{%endblock%}

