{%extends "_base.html"%}
{%block css%}
{{super()}}
<style>
	small{
		color:red;
	}
	.detail{
		color:#c4c387;
	}
	.example{
		color:green;
	}
	.headtbl{
		background-color:#f7f7f2;
	}
</style>
{%endblock%}
{%block headermenu%}
{%endblock%}
		{%block headerinfo%}
		<div class="banner-info">
			<h2>Flowto App นโยบายความเป็นส่วนตัว</h2>
			<p><i>Privacy Policy  version:0.3</i></p>
		</div>
		
		{%endblock%}

{%block content%}
นโยบายความเป็นส่วนตัว

Flowto App ไม่ได้กระทำการเก็บรวบรวมข้อมูลส่วนบุคคลใดๆ โดยอัตโนมัติ เพื่อจุดประสงค์อื่น ๆ ที่ไม่ใช่วัถุประสงค์ของ Application Flowto

ผู้พัฒนา Flowto App มีความมุ่งมั่นที่จะปกป้องและเคารพความเป็นส่วนตัวของท่าน ข้อมูลต่าง ๆ ที่อ้างอิงข้อมูลส่วนบุคคลใดๆ ที่เราเก็บรวบรวมจากท่าน หรือข้อมูลส่วนตัวที่ท่านให้กับเรา จะได้รับการประมวลผลเพื่อใช้ในวัถุประสงค์ของ Application Flowto เท่านั้น 

เราพยายามอย่างยิ่งในการปกป้องข้อมูลส่วนบุคคลที่ส่งถึงเรา ทั้งในขณะส่งข้อมูลและเมื่อเราได้รับข้อมูลนั้น อย่างไรก็ตาม ไม่มีวิธีการส่งข้อมูลทางอินเทอร์เน็ตหรือวิธีการที่เก็บข้อมูลอิเล็กทรอนิกส์วิธีใดที่มีความปลอดภัย 100% ในขณะที่เราใช้ช่องทางการเก็บข้อมูลผ่านการเข้าระหัสที่ยอมรับได้เพื่อปกป้องข้อมูลส่วนบุคคลของคุณ เราไม่สามารถรับประกันความปลอดภัยอย่างสมบูรณ์


