{%extends "_blank.html"%}
{%block js%}
{{super()}}

<script src="js/angular-file-upload.min.js"></script>
<script src="js/load-image.all.min.js"></script>
<script src="js/load-image-exif-map.js"></script>
{%endblock%}
{%block body_tag%} ng-app="flowtong" ng-controller="PreviewCtrl" ng-cloak{%endblock%}
{%block content%}
<div layout="column" flex layout-fill ><!--startpage-->
<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools" layout="row">
			<a href="./dash.html">back</a>
			<span flex></span>
			<span ng-if="u.avatar.length==1">
				<ng-avatar bind="true" initials="{{u.avatar}}" bg-color="purple"  round-shape="true" auto-color="true" font-weight="700" style="vertical-align:middle;"></ng-avatar>
			</span>
			<a href="map.html" class="menu_a">MAP</a>
	        <md-button class="md-icon-button" aria-label="More">
	          <md-icon md-svg-icon="images/icons/ic_more_vert_white_24px.svg"></md-icon>
	        </md-button>
		</div>
</md-toolbar>
<md-content layout="column" layout-fill layout-padding flex style="background:url(../images/banner.jpg) no-repeat 0px 0px;background-size:cover;">
<div style="overflow:scroll;" flex >
	<!--camera-->
	<div>
<!--<input type="file" id="fileinput" accept="image/*"  style="position:absolute;top:-100px;" />-->
		<input nv-file-select uploader="uploader" type="file" class="flowtobutton" id="fileinput" style="position:absolute;left:-500px;" multiple/>
		<md-button class="md-warn md-fab md-fab-top-right"  onclick="$('#fileinput').trigger('click');" href="#"><img style="height:24px;width:24px;" src="images/ic_camera_alt_black_48dp.png"></md-button>
	</div><!--end camera-->
{%include "_preview.inc"%}
</div>
{%verbatim%}

<div layout="row"><!--footer-->
<span flex="20">
<md-button ng-click="flowtoUploadAll();" class="md-raised md-warn">UPLOAD</md-button>
</span>
<md-progress-linear md-mode="determinate" md-diameter="50" flex value="{{progress_upload}}"  class="md-hue-2" ng-show="progress_upload_show"> </md-progress-linear>
</div><!--footer-->
</md-content>
</div><!--endpage-->
{%endverbatim%}
{%endblock%}
{%block js_end%}
{{super()}}
<script>

/*
document.getElementById('fileinput').addEventListener('change', function(){
    var file = this.files[0];
	//var reader = new FileReader();
	//reader.readAsBinaryString(file);
	//EXIF.readFromBinaryFile(reader.result);
	var make = EXIF.getTag(this, "Make");
	var model = EXIF.getTag(this, "Model");
	var makeAndModel = document.getElementById("makeAndModel");
	makeAndModel.innerHTML = JSON.stringify(make);
	EXIF.getData(file, function() {
		
	        alert(EXIF.pretty(this));
	    });
    // This code is only for demo ...
    //console.log("name : " + file.name);
    //console.log("size : " + file.size);
    //console.log("type : " + file.type);
    //console.log("date : " + file.lastModified);


	    
	
}, false);
*/
/*
document.getElementById('fileinput').onchange = function (e) {
	alert('asdf');
    loadImage.parseMetaData(
        e.target.files[0],
        function (data) {
            //alert('loaded');
			var GPSLongitude = data.exif.get('DateTime');
			//var orientation = data.exif[0x0002];
			//GPSLatitude
			//GPSLongitude
			//DateTimeOriginal
			//Make   etc Wiko
			//Model    etc PULT FAB 4G
			//DateTime
			alert('GPSLongitude:'+ GPSLongitude);
        },
        { maxMetaDataSize: 262144} // Options
    );
	loadImage(
		e.target.files[0],
		function (img) {
			
		},
			{maxWidth: 600} // Options
		);
};
*/
</script>
{%endblock%}

