<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body>
 
<div class="container">
  <h2>เกษตรแปลงใหญ่</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#widget_lf_92">เกษตรแปลงใหญ่ - 92 แปลงทำแล้ว</button>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#widget_lf_66">เกษตรแปลงใหญ่ - 66 แปลงทำแล้ว</button>
  
  
  
  
  <!-- widget_lf_92 -->
  <div class="modal fade" id="widget_lf_92" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ในเขตชลประทาน ระบบส่งน้ำสมบูรณ์ 92 แปลง (ทำแล้ว)</h4>
        </div>
        <div class="modal-body">
         <div data-type="AwesomeTableView" data-viewID="-KceWblkO7vJs_aJNLpz"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div><!--end modal for widget_lf_92-->
  
  <!-- widget_lf_92 -->
  <div class="modal fade" id="widget_lf_66" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">66 แปลง</h4>
        </div>
        <div class="modal-body">
         <div data-type="AwesomeTableView" data-viewID="-Kcp_o8cmWl9BaAqfbne"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div><!--end modal for widget_lf_92-->
  
  
  
  
  
</div><!--end container-->


<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
</body>
</html>

<label>ในเขต/นอกเขตชลประทาน:</label>{{IrrigationArea}}<br\>
<label>งบประมาณทั้งโครงการ:</label>{{BudgetPlanAll}}<br\>
<label>ได้รับจัดสรร (บาท):</label>{{BudgetRecive}}<br\>
<label>ผลเบิกจ่าย (บาท):</label>{{Disbursement}}<br\>
<label>ผลเบิกจ่าย-ร้อยละ:</label><strong>{{Disbursement-percent}}</strong><br\>
<label>Performance-percent:</label><strong>{{Performance-percent}}</strong><br\>
<small><i>{{Remark}}</i></small>







