{%extends "_base.html"%}
		{%block headerinfo%}
		<div class="banner-info">
			<h2>WE ARE</h2>
			<p>นี่คือเครื่องมือสำหรับรายงานสถานการณ์ต่าง ๆ รวมถึงติดตามนโยบายที่สำคัญ ๆ
ของ<strong>{{APP_OWNNER}}</strong> ด้วยรูปแบบการใช้ <strong>รูปภาพ</strong> และ <strong>แผนที่</strong> ผ่านอุปกรณ์เคลื่อนที่หรือ Smart Phone 
			</p>
			<form>
				<input type="text" placeholder="ENTER YOUR EMAIL" required=" ">
				<input type="submit" value="SUBMIT">
				<div class="clearfix"> </div>
			</form>
		</div>
		<div class="banner-icons">
			<ul>
				<li><a href="#" class="facebook"> </a></li>
				<li><a href="#" class="twitter"> </a></li>
				<li><a href="#" class="in"> </a></li>
			</ul>
		</div>
		{%endblock%}
{%block content%}
<h1>TEST</h1>
{%endblock%}

