<md-dialog aria-label="FLOWTO">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>Create an Assignment</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
		  <md-input-container class="md-block" flex-gt-sm>
            <label>Assignment</label>
            <input ng-model="new_assignment.assignmentName">
          </md-input-container>
		  <md-input-container class="md-block">
		  	<label>Description</label>
			<textarea ng-model="new_assignment.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
		  </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="createAssignment()">
       Create
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>